/*
    For demo.html
*/
* {
    /*box-sizing: border-box;*/
}

body {
    font-family: "Helvetica Neue", Helvetica, sans-serif !important;
    font-size: 11px;
    /*padding: 0;*/
    /*margin: 0;*/
    color: #fff;
    background: #111;
    position: relative;
    height: auto;
    overflow-y: scroll;
    /*overflow: hidden;*/
}

/*a, a:visited {
  color: #08f;
  text-decoration: none;
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}*/

.control-panel {
    position: fixed;
    top: 5%;
    left: 20px;
    padding: 12px;
    width: 240px;
    height: 90%;
    background: rgba(40, 40, 40, 0.8);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.map-view-control {
    position: fixed;
    top: 5%;
    right: 20px;
    padding: 12px;
    width: 70px;
    height: 120px;
    background: rgba(40, 40, 40, 0.8);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.navi-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    cursor: pointer;
}

hr {
    margin: 24px 0;
    border-color: #888;
    opacity: 0.3;
}

.input label {
    min-width: 60px;
    margin: 0px 8px 0px 0px;
    display: inline-block;
    line-height: 24px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 11px;
}

.input input {
    vertical-align: middle;
    line-height: 24px;
    margin: 0px 0px 0px 0px !important;
}

.input .range {
    width: 100%;
}

.on-hover-tip {
    position: absolute;
    padding: 4px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    max-width: 300px;
    font-size: 10px;
    z-index: 9;
    pointer-events: none;
}

.home-image-container {
    padding: 0px 0px 0px 0px !important;
}

.home-image {
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.home-image-mask {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(255, 255, 255, 1));
}

.home-image-sm {
    width: auto;
    height: 300px;
}

.home-head-container {
    margin-top: 50px;
    display: table;
    content: " ";
    width: 100%;
    /*border-bottom: #3a3a3a 1px solid;*/
}

.home-title {
    padding: 50px 30px 0px 15px !important;
    white-space: nowrap;
}

.home-title h1 {
    font-size: 60px;
}

.home-title h2 {
    font-size: 40px;
    color: #adadad;
}

.home-title h3 {
    font-size: 24px;
    margin: 10px 20px 10px 20px;
}

.home-content-container {
    margin-top: 100px;
}


/*
    For tutorial.html
*/
.page-head-container {
    margin-top: 50px;
}

/*
    For doc.html
*/
.page-content-container {
    margin: -50px 0px 0px 260px;
    display: table;
    content: " ";
    width: calc(100% - 260px);
}

/*ul {
  margin: 0;
  padding: 0 0 0 12px;
}

li {
  margin: 9px;
  list-style-type: square;
}*/

.content-navi-container {
    position: fixed !important;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 260px;
    background-color: #ffffff;
    z-index: 99;
}

.content-navi {
    height: calc(100% - 50px);
    margin-top: 50px;
    overflow-y: scroll;
    border-right: 1px solid #000000;
}

.chapter {
    padding: 0px 0px 0px 0px;
    display: block;
    margin-bottom: -1px;
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.chapter a {
    padding: 10px 0px 10px 15px;
    display: block;
}

.chapter ul {
    padding: 0px 0px 0px 0px;
}

.chapter ul li {
    padding: 0px 0px 0px 0px;
    display: block;
    margin-bottom: -1px;
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.chapter ul li a {
    padding-left: 30px;
}

.content-navi .active > a {
    color: #ffffff;
    background-color: #626262;
}

.content-navi ul li .active > a {
    color: #ffffff;
    background-color: #ababab;
}

.content-navi a {
    color: #000000;
}

.anchor {
    padding-top: 100px;
}

.anchor-end {
    margin-bottom: -50px;
}

.footer {
    /*position: fixed;*/
    /*bottom: 0;*/
    margin-top: 50px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #4d4d4d;
    text-align: center;
    color: #cbcbcb;
}

pre code .bl {
    color: #0067ca;
}

pre code .or {
    color: #ca5d00;
}

pre code .gr {
    color: #00740b;
}

pre code .pu {
    color: #740070;
}